<!DOCTYPE html>
<html x-ng-app="SwagApp">
<head>
	<title></title>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	
	<link type="text/css" rel="stylesheet" href="style.css"/>
	<script type="text/javascript" src="script.js"></script>
	<script type="text/javascript" src="ngDraggable-master/ngDraggable.js"></script>
</head>
<body x-ng-controller="SwagCtrl">
<!-- NAVBAR START -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-left">
	        
	      </ul>
	   <!-- SEARCH BAR START-->
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	        	<input id="search" class="form-control navbar-left"  placeholder="Search for Swag!" type="text" ng-model="searchText" />
	        </div>
	      </form>
	    <!-- SEARCH BAR END -->
	    <!-- TITLE -->
	      <a class="navbar-brand" style="color: rgba(235, 0, 25, .9)" href="index.html">Swaggerest</a>
	      <ul class="nav navbar-nav navbar-right">
	     <!-- DROP DOWN -->
	      	 <li class="dropdown" type="button" class="btn btn-default">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Click for Menu 
	          	<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
		            <!-- MAKE NEW PIN BUTTON -->
		      	<li class="active">
		      	 	<button class="btn btn-default" data-toggle="modal" data-target=".new-pin">
		      	 		<a href="#">Make a new pin</a>
		      	 	</button>
		      	</li>
		      	 <!-- ABOUT ME -->
	            <li >
	        	<button class="btn btn-default" data-toggle="modal" data-target=".contact-me">
	      	 		<a href="#">About Me</a>
	      	 	</button>
	      		</li>
	      		<li class="divider"></li>
	      		
	      		<!-- INFO TO DELETE PIN -->
	            <li data-toggle="modal" data-target=".delete-pin"><a href="#">To Delete Pins!</a></li>
	            
	            <li><a href="#">Separated link</a></li>
	          </ul>
	         </li>
	      </ul>
	    </div><!-- /.NAVBAR-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<!-- NAVBAR END -->

<!-- Main Div for Pins -->
	<div>
		<div id="columns"> 
			<div class="main" ng-repeat="pin in pins | filter: searchText">
				<span class="glyphicon glyphicon-remove" ng-click="removePin(pin)"></span> 
				
				<!-- BUTTON FOR MODAL PIN -->
				<!-- <div class="pin"> -->
				<button class="btn btn-default"data-toggle="modal" data-target=".clicked-pin" ng-click="setModalImage(pin.image, pin.category)">
				<div class="image"><img  ng-src="{{pin.image}}"></div>
				<hr>
				<div class="description">{{pin.description}}</div>
				<!-- <div class="category">Category: {{pin.category}}</div> -->
				<!-- <hr> -->
				<!-- <div class="source">{{pin.source}}</div> -->
			<!-- </div> -->
				</button>
			</div>
		</div>
	</div>

<!-- MODAL FOR ADDING NEW PIN START-->
	<div class="modal fade new-pin" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <button class="buttonNewPin">
			
					<input type="name" size="50" class="form-control" placeholder="Enter a new picture here" x-ng-model="newImage">
					<input type="text" size="50" class="form-control" placeholder="Enter the description here" x-ng-model="desc">
					<input type="text" size="50" class="form-control" placeholder="Enter the category here" x-ng-model="category">
					<input type="submit" class="btn btn-default" data-dismiss="modal" value="add" ng-click="addNewPin();">
			
		</button>
	    </div>
	  </div>
	</div>
<!-- MODAL FOR ADDING NEW PIN END-->

<!-- MODAL FOR CLICKING PIN START-->
	<div class="modal fade clicked-pin" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	     
	      	<img class ="modal-Image" ng-src="{{modalImage}}" width="80%">
	     	<span >Category: {{modalCategory}}</span>
	    </div>
	  </div>
	</div>
<!-- MODAL FOR CLICKING PIN END -->

<!-- MODAL FOR ABOUT ME START-->
	<div class="modal fade contact-me" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	     
	      	<p>Hello! My name is Jonathon Park. I'm currently learning programming through the School of Devs program. This is a board full of quotes that I find inspiration, of pictures that are awesome, and that of course, exude swag.</p>
	     
	    </div>
	  </div>
	</div>
<!-- MODAL FOR ABOUT ME END -->

<!-- MODAL FOR DELETE INFO START-->
	<div class="modal fade delete-pin" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	     
	      	<p>To delete a pin, press the X on the pin. Don't worry if you misclick the X--you have to confirm anyway!</p>
	     
	    </div>
	  </div>
	</div>
<!-- MODAL FOR DELETE INFO END -->


</body>
</html>